# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.flutter-plugins-version-mapping
.metadata

# Build output
build/

# IDE
.vscode/
.vscode/*.code-workspace
.idea/
*.code-workspace
*.iml

# MacOS
.DS_Store
AppleDouble
.LSOverride
_.DS_Store
Spotlight-V100
.iconpack-info
.owner

# Windows Thumbs
Thumbs.db
Thumbs_cache

# Logs
*.log

# Secret files
.env

# Custom
chromodoro.db.bak
*.db
*.db-wal
*.db-shm
